<h4>Enter a new player ID to update your All-Time Top Seven List</h4>
{{#each data as |team|}}
  <ul>
    <li>{{team.player.name}} Player ID: {{team.player.id}}</li>
    <form data-id="{{team.id}}">
      <fieldset>
        <input type="hidden" name="team_id" value={{team.id}}>
        New Player ID:<input type="number" name="player_id" placeholder="New Player ID">
        <input type="submit" name="submit" value="Submit">
      </fieldset>
    </form>
  </ul>
{{/each}}
