$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

a:focus {
  outline: none;
}

#authMessage {
  font-size: 20px;
  text-align: center;
}

body {
  padding-top: 70px;
}

#btn-change-password {
  display: none;
}

#btn-sign-out {
  display: none;
}

button {
  background-color: #ffcc66;
  border-radius: 10px;
  color: black;
  display: block;
  margin: 10px auto;
  padding: 5px 60px;
  text-decoration-color: #ffffff;
  text-shadow: 0 1px;
}

.forms {
  clear: both;
  margin: 0 0 60px;
  padding: 20px 0;
}

header {
  min-height: 200px;
  display: block;
  width: 100%;
  background-image: url('https://i.imgur.com/tve9jim.jpg');
  background-size: cover;
  opacity: 0.3;
}

img {
  height: 50px;
}

.ironside {
  font-size: 150px;
  line-height: 150px;
  text-align: center;
  text-shadow: 2px 2px white;
  color: #000080;
  top: -200px;
  position: relative;
}

.intro {
  background-color: #ffcc66;
  margin: -140px 0 10px;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  color: black;
}

.ironside-logo {
  height: 50px;
}

.most-selected-list {
  text-align: center;
}

p {
  font-size: 20px;
}

.patch {
  clear: both;
  text-align: center;
  display: none;
  padding: 20px 0 0;
}

.patch-selection {
  text-align: center;
  font-size: 16px;
}

.patch-selection li {
  display: inline-block;
}

.player-name {
  font-size: 16px;
}

.roster {
  columns: 3;
  display: block;
  padding: 10px 0;
}

.roster button {
  background-color: #d9d9d9;
  border: 0;
  break-inside: avoid-column;
  color: black;
  font-family: sans-serif;
  margin: auto;
  width: 100%;
  padding: 2px;
  height: 40px;
}

.roster button:focus {
  outline: none;
}

.roster-player {
  max-width: 250px;
  padding: 0;
}

.md-ironside {
  display: none;
  font-size: 150px;
  line-height: 150px;
  text-align: center;
  text-shadow: 2px 2px white;
  color: #000080;
  top: -200px;
  position: relative;
}

.teams {
  padding-top: 25px;
}

.team-history {
  display: none;
  text-align: center;
}

.team-name {
  text-align: center;
}

#team-nav {
  display: none;
}

.top-player-name {
  list-style: none;
}

.top-team {
  color: red;
}

.topseven button {
  background-color: #ffcc66;
  color: black;
  width: 100%;
  padding: 2px;
  height: 40px;
  min-width: 175px;
}

.year {
  display: none;
}

.year button:focus {
  outline: none;
}

.year,
.roster,
.topseven {
  display: none;
  min-height: 100px;
  text-align: center;
  padding-top: 15px;
}

#year,
#roster,
#topseven {
  // background-color: #7FBFFF;
  background-color: #000080;
  border-radius: 5px;
  font-size: 20px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  display: none;
  color: white;
}

@media only screen and (max-width: 1150px) and (min-width: 700px) {
  .md-ironside {
    display: block;
  }
  .ironside {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .md-ironside {
    font-size: 75px;
    display: block;
  }
  .ironside {
    display: none;
  }
}
